    <link rel="icon" href="{{root}}favicon.ico" sizes="32x32">
    <link rel="icon" href="{{root}}favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{root}}apple-touch-icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap"
        rel="stylesheet"
    >

    <link rel="stylesheet" href="{{root}}css/style.css">
